@import "src/assets/scss/abstract/mixins";

.l-header {
	background-color: var(--clr-primary-light);
	display: flex;
	justify-content: space-between;
	padding-top: 42px;

	.wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		//width: 100%;
	}
}

.p-nav {

	&-list {
		display: flex;
		gap: 60px;
		align-items: center;
	}

	&__item:last-child {

		.p-nav__btn {
			@include btnPrimary(var(--clr-blue-dark), var(--fs-md), 27px, 16px 32px);
		}
	}

	&__link {
		color: #fff!important;
		font-weight: var(--fw-bold);
		white-space: nowrap;
	}
}
