@mixin btnPrimary($bgrColor, $fs, $lh, $padding) {
	border: none;
	outline: none;
	color: #fff;
	padding: 16px 32px;
	border-radius: 24px;
	font-family: var(--ff-primary);
	font-weight: 700;
	font-size: $fs;
	background: $bgrColor;
	line-height: $lh;
	padding: $padding;
}

@mixin respond($breakpoint) {
	@if $breakpoint == phone-port {
		@media (max-width: 414px) {@content};
	}
	@if $breakpoint == phone-land {
		@media (max-width: 768px) {@content};
	}
	@if $breakpoint == tab {
		@media (max-width: 834px) {@content};
	}
	@if $breakpoint == desktop {
		@media (max-width: 1200px) {@content};
	}
	@if $breakpoint == lg-desktop {
		@media (min-width: 1366px) {@content};
	}
}
