@import "src/assets/scss/abstract/mixins";

.testimonial {

	.wrapper {
		padding: 100px 116px;
		display: flex;
		justify-content: space-between;
	}

	&-left {
		position: relative;

		&:before {
			content: "";
			display: block;
			width: 28px;
			height: 546px;
			background-color: var(--clr-blue-dark);
			border-radius: var(--br-primary);
			position: absolute;
			top: -35px;
			left: 87px;
			z-index: -1;
		}
	}

	.right {

	}

	&-card {
		font-family: var(--ff-secondary);
		border-radius: var(--br-primary);
		box-shadow: 0px 9px 36px rgba(0, 0, 0, 0.2);

		&-top {
			border-radius: var(--br-primary);
			padding: 24px 32px;
		}

		&:first-child {
			margin-bottom: 50px;

			.testimonial-card-top {
				background-color: var(--clr-primary-light);
			}
		}

		&:last-child {
			transform: translateX(32px);

			.testimonial-card-top {
				background-color: var(--clr-orange);
			}
		}

		&__ttl {
			color: #fff;
			font-size: var(--fs-md);
			font-weight: var(--fw-bold-extra);
			line-height: 27px;
		}

		&-bottom {
			display: flex;
			justify-content: space-between;
			gap: 106px;
			padding: 30.5px 32px 11.5px;
			background-color: #fff;
			border-radius: var(--br-primary);

			.left {
				display: flex;
				flex-direction: column;
				gap: 8px;
				white-space: nowrap;
				color: var(--clr-blue-dark);
			}
		}

		&__name {
			font-size: var(--fs-lg);
			font-weight: var(--fw-bold-extra);
			line-height: 28.8px;
		}

		&__job {
			font-size: var(--fs-md);
			line-height: 21.6px;
		}

		&__photo-box {
			width: 120px;
			height: 120px;
			margin-top: -42px;
		}

		&__photo {
			max-width: 100%;
		}
	}

	&__ttl {
		font-family: var(--ff-secondary);
		font-weight: var(--fw-bold-extra);
		font-size: var(--fs-heading-xxl);
		line-height: 72px;
		margin-bottom: 16px;
		color: var(--clr-blue-dark);
	}

	&__txt {
		line-height: 32px;
		margin-bottom: 30px;
		color: var(--clr-blue-dark);
	}

	&__btn {
		@include btnPrimary(var(--clr-orange), var(--fs-md), 27px, 16px 32px);
	}
}
