.fw-900 {
	font-weight: 900;
}

.fw-700 {
	font-weight: 700;
}

.br-24 {
	border-radius: 24px;
}

.btn {
	border: none;
	outline: none;
	color: #fff;
	padding: 16px 32px;
	border-radius: 24px;
}

.rounded {
	border-radius: 24px;
}
